gitpython>=3.1.30
matplotlib>=3.3
psutil
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
torch==1.13.1
torchvision==0.14.1
pandas==2.0.3
pillow==10.4.0
opencv-python==4.9.0.80
numpy==1.24.3
PyYAML==6.0.1
ultralytics==8.3.191
seaborn>=0.11.0



